# Auto detect text files and perform LF normalization
* text=auto
Content/Materials/Landscape/Textures/Path/T_Path_A.uasset filter=lfs diff=lfs merge=lfs -text
Content/Materials/Landscape/Textures/Path/T_Path_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Materials/Landscape/Textures/WetSoil/T_WetSoil_A.uasset filter=lfs diff=lfs merge=lfs -text
Content/Materials/Landscape/Textures/WetSoil/T_WetSoil_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/IcelandicMossyRock/SM_IcelandicMossyRock.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/MossyStoneWallA/SM_MossyStoneWallA.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/MossyStoneWallC/SM_MossyStoneWallC_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/MossyStoneWallC/SM_MossyStoneWallC_03.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/SupportBeamD/T_SupportBeamD_A.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/SupportBeamD/T_SupportBeamD_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/WoodenBarrelA/SM_WoodenBarrelA.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/Cobblestone/T_Cobblestone_A.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/Cobblestone/T_Cobblestone_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/MossyCreekStones/T_MossyCreekStones_AO.uasset' filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/MossyCreekStones/T_MossyCreekStones_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/MossyCreekStones/T_MossyCreekStones_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/3D_Assets/IcelandicTerrain/SM_IcelandicTerrain_High.uasset filter=lfs diff=lfs merge=lfs -text
